form label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

form input[text = text]{
    color: black;
    margin-bottom: 20px;
    font-size: 16px;
}

form textarea{
    height: 4.75rem;
    width: 100%;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}